<app-navbar></app-navbar>


<div class="container main-container">
  <div class="row">

    <div class="col-md-4">
      <div *ngIf="!markerSelected" class="animated fadeIn fast">
        <div class="alert alert-info" role="alert">
          Click on the map for creating a marker or select one
        </div>
      </div>
      <div *ngIf="markerSelected" class="animated fadeIn fast">
        <h5>Marker</h5>
        <hr/>
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="markerSelected.title" type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="markerSelected.description" rows="5" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label>Can be moved?</label>
          <select [(ngModel)]="draggable" name="draggable" class="form-control" (change)="changeDraggable()">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="_mapsService.saveMarkers()">Save changes</button>
      </div>
    </div>

    <div class="col-md-8 animated fadeIn fast">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="clickOnMap( $event )">
        <agm-marker *ngFor="let marker of _mapsService.markers, let i = index"
                    [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="marker.draggable"
                    (markerClick)= "clickOnMarker( marker, i )"
                    (dragEnd) = "dragEndMarker( marker, $event )">

          <agm-info-window>
            <h6>{{marker.title}}</h6>
            <p *ngIf="marker.description">{{marker.description}}</p>
            <a class="text-danger pointer" (click)="_mapsService.deleteMarker(i); markerSelected=null;">Delete marker</a>
          </agm-info-window>

        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>


